%h2= t(:sign_up, scope: %i[users registrations new])
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = f.input :name, required: true, autofocus: true
  = f.input :email, required: true, input_html: { autocomplete: 'email' }
  = f.input :profile
  = f.input :blog_url
  = f.input :password, required: true,
    hint: (t('devise.shared.minimum_password_length', count: @minimum_password_length) if @minimum_password_length),
    input_html: { autocomplete: 'new-password' }
  = f.input :password_confirmation, required: true, input_html: { autocomplete: 'new-password' }
  .d-grid.gap-2= f.button :submit, t(:sign_up, scope: %i[users registrations new]), class: 'btn-primary'
